/*@import "ionicons/ionicons";*/

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}

table caption {
  width: 100%;
  text-align: left;
}

table caption span {
  font-size: 1rem;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem 0 #fff;
  background: #eaebec;
  margin: 2rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.1rem 0.2rem #e1e1e1;
          box-shadow: 0 0.1rem 0.2rem #e1e1e1;
}

table th {
  padding: 2.1rem 0.8rem 2.2rem 0.8rem;
  border-top: 0.1rem solid #fafafa;
  border-bottom: 0.1rem solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#ebebeb));
  background: linear-gradient(to top, #ededed, #ebebeb);
}

table th:first-child {
  text-align: left;
  padding-left: 2rem;
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.3rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.3rem;
}

table tr {
  text-align: center;
  padding-left: 2rem;
  display: table-row;
}

table td:first-child {
  text-align: left;
  padding-left: 2rem;
  border-left: 0;
}

table td {
  padding: 0.8rem;
  border-top: 0.1rem solid #ffffff;
  border-bottom: 0.1rem solid #e0e0e0;
  border-left: 0.1rem solid #e0e0e0;
  background: white;
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#f8f8f8), to(#f6f6f6));
  background: linear-gradient(to top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.3rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.3rem;
}

table tbody tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#f0f0f0));
  background: linear-gradient(to top, #f2f2f2, #f0f0f0);
}

body {
  font-family: 'open sans','Helvetica Neue', Arial , sans-serif;
  background-color: transparent;
}

div.pdfHeader {
  margin: 0;
  padding-top: 0.3cm;
  padding-left: 0.3cm;
  padding-right: 0.3cm;
  width: 100%;
  height: 1.2cm;
  line-height: 16px;
  background: rgba(34, 34, 34, 0.06);
  border-bottom: solid 1px #32368c;
  font-family: 'open sans','Helvetica Neue', Arial , sans-serif;
  font-size: 10px;
  font-weight: 100;
}

div.pdfHeader div.logo {
  float: left;
  vertical-align: middle;
  width: 2.5cm;
}

div.pdfHeader div.logo .navbar-logo img {
  width: 2.5cm;
  padding-bottom: 0.1cm;
}

div.pdfHeader div.rubalise {
  width: 100%;
  height: 0.4cm;
  padding-top: -0.1cm;
  padding-bottom: -0.1cm;
  background-size: contain;
  background-image: url("/images/rubalisepdf.svg");
}

div.pdfHeader .navbar-menu {
  float: right;
  text-align: right;
  overflow: hidden;
}

div.pdfHeader .navbar-menu a {
  text-transform: uppercase;
  font-size: 10px;
  margin: 0px 10px;
  position: relative;
  color: #222;
}

div.pdfHeader .navbar-menu a span.created_at {
  position: relative;
  left: 10px;
}

div.seller div.from-seller {
  float: left;
  display: inline-block;
  width: 180px;
}

div.seller div.infos {
  float: left;
  padding-left: 10px;
  margin-left: 20px;
  border-left: solid 1px #000;
}

div.customer {
  padding-top: 50px;
  margin-left: 5cm;
}

div.customer div.to-customer {
  float: left;
  display: inline-block;
  width: 180px;
}

div.customer div.infos {
  float: left;
  padding-left: 10px;
  margin-left: 20px;
  border-left: 1px solid #000;
}

div.invoice-title {
  margin-top: 20px;
  line-height: 40px;
}

div.invoice-title h2 {
  display: inline-block;
  font-size: 18px;
}

div.invoice-title h2 span.detail {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0.1rem 0.1rem 0 #fff;
}

div.invoice-title div.price {
  float: right;
}

div.invoice-title div.price div.total-price {
  width: 5cm;
  float: right;
  margin-right: 40px;
  padding: 0px 15px;
  border-radius: 8px;
  border: 1px solid #32368c;
  background-color: #32368c;
  color: #fff;
  text-align: center;
}

div.invoice {
  padding-top: 20px;
}

div.invoice p {
  padding: 0;
  font-weight: bold;
}

div.invoice p.line-info {
  font-size: 12px;
  font-weight: 100;
}

div.invoice table {
  margin: 0;
  width: 100%;
  border: 1px solid #b5b5b5;
  border-radius: 6px;
}

div.invoice table tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

div.invoice table tr td {
  text-align: right;
}

div.invoice table td {
  page-break-inside: avoid;
  page-break-after: auto;
  font-size: 12px;
}

div.invoice table thead {
  display: table-header-group;
}

div.invoice table thead tr th {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.invoice div.invoice-total p:not(.ttc) {
  font-weight: 100;
}

div.invoice div.invoice-total p.ttc {
  margin-top: 10px;
  padding-top: 5px;
}

div.invoice div.invoice-total div.invoice-total-title {
  width: 60%;
  display: inline-block;
  float: left;
  text-align: right;
}

div.invoice div.invoice-total div.invoice-total-value {
  text-align: right;
  float: right;
  width: 25%;
  display: inline-block;
  padding-right: 20px;
}

div.invoice div.invoice-total div.invoice-total-value p.ttc {
  border-top: 2px solid #000;
}

div.pdfFooter {
  margin: 0;
  padding-top: 0.3cm;
  padding-left: 0.3cm;
  padding-right: 0.3cm;
  width: 100%;
  height: 1.2cm;
  font-size: 10px;
  line-height: 10px;
  background: rgba(34, 34, 34, 0.06);
  border-top: solid 1px #222;
}

div.pdfFooter .infos {
  width: 30%;
  float: left;
}

div.pdfFooter .infos i {
  padding-right: 3px;
}

div.pdfFooter .infos i:not(:first-of-type) {
  padding-left: 10px;
}

div.pdfFooter .copyright {
  width: 40%;
  float: right;
  position: relative;
  text-align: right;
  vertical-align: top;
}

div.pdfFooter .copyright p.page {
  padding-bottom: 0.2cm;
}

div.pdfFooter .copyright div.suiteLogo {
  float: right;
  vertical-align: top;
  height: 1cm;
  width: 3cm;
}

