@font-face {
  font-family: 'MotionControl-Bold';
  src: url('/css/fonts/MotionControl-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotionControl-Bold';
  src:  url('/css/fonts/MotionControl-Bold.otf')  format('opentype'),
  url('/css/fonts/MotionControl-Bold.woff') format('woff'), url('/css/fonts/MotionControl-Bold.ttf')  format('truetype'), url('/css/fonts/MotionControl-Bold.svg#MotionControl-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}