

.main.container {
  margin-top: 4rem;
}

.hidden.menu {
   display: none;
}

.masthead.segment {
  padding: 1em 0em;
}

.ui.secondary.menu .right.item {
  display: none;
}

form {
  &.login, &.register {
    padding-top: 2rem;
  }
}

.ui.menu .logs .ui.button {
  margin-left: 0.5em;
}

.row.social a.button {
  margin-bottom: 0.75rem;
}

.p-fade-enter-active, .p-fade-leave-active {
  transition: opacity 0.8s !important;
}
.p-fade-enter, .p-fade-leave-active {
  opacity: 0 !important;
}

.row.filters {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 470px){
  .ui.secondary.menu .right.item {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .ui.form .fields {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
}