.main.container {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & a.item.advert {
    & .ui.image > .corner i {
      color: white;
      font-weight: 600;
    }
  }
}

.hidden.menu {
   display: none;
}

.masthead.segment {
  padding: 1em 0em;

  & .ui.container .links {
    display: none;
  }
}

.ui.top.fixed.menu{
  & .links {
    display: none;
  }
}

.ui.steps {
  background-color: #FFFFFF;
  padding: 0em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
/* change style */
.ui.steps.fixed {
  position: fixed;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.ui.secondary.menu .right.item {
  display: none;
}

.row.breadcrumb {
  margin-bottom: 1rem;
}

.ui .segment .footer {
  padding: 4em 0 4em 0;
}

form {
  &.login, &.register {
    padding-top: 2rem;
  }
}

.ui.menu .logs .ui.button {
  margin-left: 0.5em;
}

.row.social a.button {
  margin-bottom: 0.75rem;
}

#category-accordion {
  box-shadow: none;

  & .title.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & div.change-category {
      display: flex;
      align-items: center;
    }
  }

  & > .title {
    display: none;
  }
}

#category-accordion .ui.labeled.input {
  margin-right: 0.5rem;
}

#toast {
  position: fixed;
  top: 12em;
  right: 0;
  width: 20em;
  z-index: 2000;
}

#welcome-skycrapper {
  margin-top: 2rem;
}

.ui.list > .item.advert > .image:not(:only-child):not(img) {
  padding-right: 0em;
  margin-right: 0.5em;
}

.ui.list > .item.advert {
  position: relative;
  & > p.price {
    position: absolute;
    right: 1em;
    top: 1.2em;
  }
  & > p.geodate {
    position: absolute;
    right: 1em;
    bottom: 0.2em;
  }
}
.ui.dropdown .menu .item .right.dropdown.icon {
  float: right;
}

.ui.dropdown .menu .item .right.dropdown.icon:before {
  content: "\f0da";
}

.accordion {
  transition: scale, opacity;
  transition-duration: 0.2s;
  transform: scale(1.00);
  position: relative;
  z-index: 1;
}

.main-action {
  transform: scale(1.01);
  box-shadow: 0.1em 0.1em 1em rgba(0,0,0,0.2);
  border: 1px solid hsla(201, 73%, 47%, 0.38);
  z-index: 1000;
  position: relative;
}

.sub-action {
  transform: scale(0.99);
  opacity: 0.8;
  position: relative;
}
//transitions vuejs
.p-fade-enter-active, .p-fade-leave-active {
  transition: opacity 0.8s !important;
}
.p-fade-enter, .p-fade-leave-active {
  opacity: 0 !important;
}

.appear-right-enter-active {
  animation: appear-right-in .5s !important;
}
.appear-right-leave-active {
  animation: appear-right-out .5s !important;
}
@keyframes appear-right-in {
  0% {
    position: fixed;
    top: 12em;
    right: 0;
    width: 20em;
    transform: translate3d(100%,0,0);
  }
  80% {
    position: fixed;
    top: 12em;
    right: 0;
    width: 20em;
    transform: translate3d(-13%,0,0);
  }
  100% {
    position: fixed;
    top: 12em;
    right: 0;
    width: 20em;
    transform: translate3d(0,0,0);
  }
}
@keyframes appear-right-out {
  0% {
    position: fixed;
    top: 12em;
    right: 0;
    width: 20em;
    transform: translate3d(0,0,0);
  }
  100% {
    position: fixed;
    top: 12em;
    right: 0;
    width: 20em;
    transform: translate3d(100%,0,0);
  }
}

.row.filters {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 756px){
  .masthead.segment {
    & .ui.container .links {
      display: flex;
    }
  }

  .ui.top.fixed.menu{
    & .links {
      display: flex;
    }
  }
}

@media only screen and (min-width: 470px){
  .ui.secondary.menu .right.item {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .ui.form .fields {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
}