/*@import "ionicons/ionicons";*/

$color1: #ffee7b;
$color2: #000;
$color3: #fff;
$color4: #2E4C4C;
$color5: #222;
$color6: rgba(34, 34, 34, 0.5);
$color7: #12ad9b;
$color8: #3880aa;
$color9: rgba(56, 128, 170, 0.1);
$color10: rgba(171, 161, 144, 0.3);
$color11: #b5b5b5;
$color12: rgba(34, 34, 34, 0.06);

$color-success: rgba(44, 171, 63, 0.9);
$color-info: rgba(26, 127, 171, 0.9);
$color-error: rgba(215, 44, 35, 0.9);
$color-status: rgba(171, 161, 144, 0.9);
$color-blue: #32368c;
$height_nav_shrink: 60px;

$ratio_w_h_card: 1.172;
$card_width: 275px;
$h1_height: 42px;

@import "table1";
//@import "../semantic/dist/components/icon.css";

body {
  font-family: 'open sans','Helvetica Neue', Arial , sans-serif;
  background-color: transparent;
}

div.pdfHeader {
  margin: 0;
  padding-top: 0.3cm;
  padding-left: 0.3cm;
  padding-right: 0.3cm;

  width: 100%;
  height: 1.2cm;

  line-height: 16px;
  background: $color12;

  border-bottom: solid 1px $color-blue;

  font-family: 'open sans','Helvetica Neue', Arial , sans-serif;
  font-size: 10px;
  font-weight: 100;
  & div.logo {
    float: left;
    vertical-align: middle;
    width: 2.5cm;
    & .navbar-logo {
      & img {
        width: 2.5cm;
        padding-bottom: 0.1cm;
      }
    }
  }
  & div.rubalise {
    width: 100%;
    height: 0.4cm;
    padding-top: -0.1cm;
    padding-bottom: -0.1cm;
    background-size: contain;
    background-image: url("/images/rubalisepdf.svg");
  }
  & .navbar-menu {
    float: right;
    text-align: right;
    overflow: hidden;

    & a {
      text-transform: uppercase;
      font-size: 10px;
      margin: 0px 10px;
      position: relative;
      color: $color5;
      & span.created_at {
        position: relative;
        left:10px;
      }
    }
  }
}

div.seller {
  & div.from-seller {
    float: left;
    display: inline-block;
    width: 180px;
  }

  & div.infos {
    float: left;
    padding-left:10px;
    margin-left: 20px;
    border-left: solid 1px $color2;
  }
}

div.customer {
  padding-top: 50px;
  margin-left: 5cm;
  & div.to-customer {
    float: left;
    display: inline-block;
    width: 180px;
  }

  & div.infos {
    float: left;
    padding-left:10px;
    margin-left: 20px;
    border-left: 1px solid $color2;
  }
}

div.invoice-title {
  margin-top: 20px;
  line-height: 40px;

  & h2 {
    display: inline-block;
    font-size: 18px;
    & span.detail {
      font-family:Arial, Helvetica, sans-serif;
      color:#666;
      font-size:12px;
      font-weight: normal;
      text-shadow: 0.1rem 0.1rem 0 #fff;
    }
  }

  & div.price {
    float: right;

    & div.total-price {
      width: 5cm;
      float: right;
      margin-right: 40px;
      padding: 0px 15px;
      border-radius: 8px;
      border: 1px solid $color-blue;
      background-color: $color-blue;
      color: $color3;
      text-align: center;
    }
  }
}

div.invoice {
  padding-top: 20px;

  & p {
    padding: 0;
    font-weight: bold;

    &.line-info {
      font-size: 12px;
      font-weight: 100;
    }
  }

  & table {
    margin: 0;
    width: 100%;
    border: 1px solid $color11;
    border-radius: 6px;
    //page-break-after:auto;

    & tr {
      page-break-inside:avoid;
      page-break-after:auto;
      & td {
        text-align: right;
      }
    }

    & td {
      page-break-inside:avoid;
      page-break-after:auto;
      font-size: 12px;
    }

    & thead {
      display:table-header-group;
      & tr th {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

  }

  div.invoice-total {
    & p:not(.ttc) {
      font-weight: 100;
    }

    & p.ttc {
      margin-top: 10px;
      padding-top: 5px;
    }

    & div.invoice-total-title {
      width: 60%;
      display: inline-block;
      float: left;
      text-align: right;
    }

    & div.invoice-total-value {
      text-align: right;
      float: right;
      width: 25%;
      display: inline-block;
      padding-right: 20px;

      & p.ttc {
        border-top: 2px solid $color2;
      }
    }
  }
}

div.pdfFooter {
  margin: 0;
  padding-top: 0.3cm;
  padding-left: 0.3cm;
  padding-right: 0.3cm;

  width: 100%;
  height: 1.2cm;
  font-size: 10px;
  line-height: 10px;

  background: $color12;
  border-top: solid 1px $color5;

  & .infos {
    width: 30%;
    float: left;

    & i {
      padding-right: 3px;
    }
    & i:not(:first-of-type){
      padding-left: 10px;
    }
  }

  & .copyright {
    width: 40%;
    float: right;
    position: relative;
    text-align: right;
    vertical-align: top;

    & p.page {
      padding-bottom: 0.2cm;
    }
    & div.suiteLogo {
      float: right;
      vertical-align: top;
      height: 1cm;
      width: 3cm;
    }
  }
}
